.a4-page {
    width: 190mm;
    /* 210mm - 40mm padding */
    min-height: 257mm;
    /* 297mm - 40mm padding */
    padding: 10mm;
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 9pt;
}

@page {
    size: A4;
    margin: 5mm;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;

}

th,
td {
    border: 1px solid black;
    padding: 1px 5px;
    vertical-align: top;
}

th {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;

}

.header-table td {
    border: none;
    padding: 2px 5px;
}

.section-title {
    background-color: #00076d;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.logo {
    width: 80px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.clear {
    clear: both;
}

.text-center {
    padding-top: 3%;
    text-align: center;
    font-weight: bold;
}

.box {
    border: 1px solid black;
    padding: 5px;
}



.forTable {
    font-weight: bold;
}

.textTableCenter {
    text-align: center;
}

table td,
table th {
    white-space: nowrap;
}

col {
    width: auto;
}

.page-break{
    page-break-before:always;
}