<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Pruebas a Transformador de Corriente</title>
</head>

<body style="margin: 0; padding: 20px;">
    <div class="container">
        <p>nueva nervsion 3</p>
        <div id="Report_PDF_Component"
            style="width: 210mm; min-height: 297mm; padding: 20mm; margin: auto; background: white; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); box-sizing: border-box; font-family: Arial, sans-serif; font-size: 10pt;">
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
                <tr>
                    <td rowspan="4"
                        style="padding: auto; padding-top: 6%; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        <img src="data:image/png;base64,iVBORw0KGgoA01NqLm6X+g6pl/ILy6ErrHA+FwQKb0AhZCAELADAbhKirCqDtvRc6smapfsP1vRERERERE1H8MABMRERERERHRhrOsRA/g4KIlWPPY37H23/9BrKkZmscDCACmCWlZkIaBtAnjMfwPNyBrxnTAkoDGwC8REREREdHGwAAwEREREREREW0c8ZLPdiC46bMvUfP8C2j86FNIy4IzOwu634+MXXbC4HPPhHvwoHaBYyIiIiIiItpwDAATERERERER0ca1XlA3tOwXSNOEIyMTepofenqa+ge7dDQRERERERFtPAwAExEREREREdEmIS0LorPs3vhUBIO/REREREREGx0DwERERERERES06UgA0oIEIOIBXwZ+iYiIiIiINhkGgImIiIiIiIiIiIiIiIiIthMaNwERERERERERERERERER0faBAWAiIiIiIiIiIiIiIiIiou0EA8BERERERERERERERERERNsJBoCJiIiIiIiIiIiIiIiIiLYTDAATEREREREREREREREREW0nGAAmIiIiIiIiIiIiIiIiItpO/D9EyWHzmWK/ugAAAABJRU5ErkJggg=="
                            alt="1x1 transparent pixel" style="width: 100px; height: 60px;" />
                    </td>
                    <td rowspan="2" colspan="2"
                        style="padding-top: 3%; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                        REGISTRO DE PRUEBAS A TRANSFORMADOR DE CORRIENTE
                    </td>
                    <td style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${header.protocolo}"></td>
                    <td style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${header.hoja}"></td>

                </tr>
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Código</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${header.codigo}"></td>
                </tr>
                <tr>
                    <td style="padding-top: 3%; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;"
                        rowspan="2" colspan="2">GECELCA S.A.</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Ciudad.</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${header.ciudad}"></td>
                </tr>
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Fecha</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${header.fecha}"></td>
                </tr>
            </table>

            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                INFORMACIÓN DEL TRANSFORMADOR DE CORRIENTE</div>
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Marca</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.fabricante}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Núcleo</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.nucleo}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Compañía</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.compania}"></td>
                </tr>
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Modelo</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.modelo}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Aplicación</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.applicacion}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Planta</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.planta}"></td>
                </tr>
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Numero de Serie</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.numero_de_serie}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Norma</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.norma}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Subestación</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.subestacion}"></td>
                </tr>
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Primaria [A]</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.I_priaria}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Clase</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.clase}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Tag</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.tag}"></td>

                </tr>
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Corriente Secundaria [A]</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.I_secundaria}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Burden [VA / cos(φ)]</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.burden}"></td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Fase</td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${InformacionGeneral.fase}"></td>
                </tr>
            </table>

            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                RESULTADOS</div>
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
                <thead>
                    <tr>
                        <th
                            style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                            Núcleo</th>
                        <th
                            style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                            R Devanados @75°C [Ω]</th>
                        <th
                            style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                            Relación Corriente</th>
                        <th
                            style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                            Polaridad</th>
                        <th
                            style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                            Eval. General</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:text="${resultados.nucleo}"></td>
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:text="${#numbers.formatDecimal(resultados.R_devanados, 1, 3)}"></td>
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:text="${resultados.relacionCorriente}"></td>
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:text="${resultados.poplaridad}"></td>
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:text="${resultados.EvalGeneral}"></td>
                    </tr>
                </tbody>
            </table>

            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                ERROR DE RELACIÓN DE CORRIENTE [%]</div>
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
                <thead>
                    <tr>
                        <th
                            style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                            Burden [VA / cos(φ)]</th>
                        <th style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;"
                            th:each="headerVal : ${tablaRelacionCorrienteNominalHeader}" th:text="${headerVal} + '%'">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row, iterStat : ${tablaRelacionCorrienteNominalData}">
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:text="${burdenLabelsRC[iterStat.index]}"></td>
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:each="value : ${row}" th:text="${#numbers.formatDecimal(value, 1, 4)}"></td>
                    </tr>
                </tbody>
            </table>

            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                GRAFICO DE ERROR DE RELACION DE CORRIENTE</div>
            <div id="graficaRCNChart-container" style="width: 600px; height: 400px;">
                <canvas id="graficaRCNChart"></canvas>
            </div>


            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                ERROR DE DESPLAZAMIENTO DE FASE [min]</div>
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
                <thead>
                    <tr>
                        <th
                            style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;">
                            Burden [VA / cos(φ)]</th>
                        <th style="background-color: #ffffff; text-align: center; font-weight: bold; border: 1px solid black; padding: 5px 8px; vertical-align: top;"
                            th:each="headerVal : ${tablaCorrienteNominalHeader}" th:text="${headerVal} + '%'"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row, iterStat : ${tablaCorrienteNominalData}">
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:text="${burdenLabelsCN[iterStat.index]}"></td>
                        <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                            th:each="value : ${row}" th:text="${#numbers.formatDecimal(value, 1, 4)}"></td>
                    </tr>
                </tbody>
            </table>

            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                GRAFICO DE DESPLAZAMIENTO DE FASE</div>
            <div id="graficaCNChart-container" style="width: 600px; height: 400px;">
                <canvas id="graficaCNChart"></canvas>
            </div>
            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                EXCITACIÓN</div>
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
                <tr>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Norma</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        V_Saturacion</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        I_magnet</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        ALF</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        ALFi</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        eci</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Criterio Val</td>
                    <td
                        style="font-weight: bold; border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;">
                        Evaluación</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${ResultadoExitacion.norma}"></td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${#numbers.formatDecimal(ResultadoExitacion.V_Saturacion, 1, 3)}"></td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${#numbers.formatDecimal(ResultadoExitacion.I_magnet, 1, 6)}"></td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${ResultadoExitacion.ALF}"></td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${ResultadoExitacion.ALFi}"></td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${ResultadoExitacion.eci}"></td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${ResultadoExitacion.Cirterio}"></td>
                    <td style="border: 1px solid black; padding: 5px 8px; text-align: left; vertical-align: top;"
                        th:text="${ResultadoExitacion.evaluacion}"></td>
                </tr>
            </table>

            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                CURVA DE EXCITACIÓN</div>
            <div id="graficaExiChart-container" style="width: 600px; height: 400px;">
                <canvas id="graficaExiChart"></canvas>
            </div>
            <div
                style="background-color: #00076d; text-align: center; color: white; font-weight: bold; padding: 7px; margin-top: 15px; margin-bottom: 5px;">
                CONCLUSIONES Y OBSERVACIONES</div>
            <div id="conclusionsListDisplay"
                style="margin-top: 20px; border: 1px dashed #eee; padding: 10px; background-color: #f9f9f9;">
                <ul id="finalConclusionsList">
                </ul>
            </div>
        </div>

    </div>
</body>

</html>